@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root
{
    --var-heading-primary: hsl(0, 0%, 100%);
    --var-content-primary:hsl(0, 0%, 81%);
    --var-heading-secondary: hsl(219, 29%, 14%);
    --var-content-primary:hsl(217, 19%, 35%);
}
html,body
{
    width: 100%;
    height: 100%;
    /* overflow-x:hidden ; */
    margin: 0;
    padding: 0;
}
body
{
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    /* font-size: 13px; */
    font-family: "Barlow Semi Condensed";
}
.main
{
    display: grid;
    /* grid-template-columns:  repeat(9,minmax(70px,1fr)); */
    grid-template-columns:  repeat(9,97px);
    /* grid-auto-rows: repeat(6,100px); */
    /* grid-template-rows; */
    margin: 2% auto ;
    /* background-color: red; */
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* height: 60%; */
    /* height: fit-content; */
}
.main > *
{
    /* width: 100%; */
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    border-radius:0.5rem;
    text-align: left;
}
.first
{   background:url('./images/bg-pattern-quotation.svg') scroll 20rem 0rem no-repeat   hsl(263, 55%, 52%);
    grid-column: 1 /6;
    color: var(--var-heading-primary);
    grid-row: 1/2;
}
.second
{
    background-color: hsl(217, 19%, 35%);
    grid-column: 6/8;
    /* grid-row: 1/2; */
}
.third
{
    background-color: var(--var-heading-primary);
    grid-column: 8/10;
    grid-row: 1/3;
    height: 95%;
    /* height:fit-content; */
    /* padding: 1rem 0rem 0rem 0rem; */
}
.fourth
{
    background-color: var(--var-heading-primary);
    grid-column: 1/3;
    grid-row: 2/3;
}
.fourth .opinion
{
    color: var(--var-content-primary);
}
.fifth
{
    background-color:hsl(219, 29%, 14%);
    grid-column: 3/8;
    grid-row: 2/3;
}
.fifth .opinion
{
    color: var(--var-content-primary);
}
.first,.second,.third,.fourth,.fifth
{
    display: flex;
}
/* img
{
    width: 2rem;
    border: 1px solid  hsl(0, 0%, 100%);
    border-radius: 50%;
    position: relative;
     top: 1rem; 
} */
.designation
{
    font-size: 13px;
}
.top-main
{
    height: fit-content;
    flex-direction: column;
    display: flex;
}
.top-bar
{
    display: 5rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}
.top-bar img
{
    border: 1px solid  hsl(0, 0%, 100%);
    width: 2rem;
    border-radius: 50%;
    position: relative;
    height: 2rem;
}
.content
{
    display: flex;
    flex-wrap: wrap;
}
.opinion-header
{
    font-weight: 600;
    width: 90%;
    color: hsl(0, 0%, 100%);
}
.third .opinion-header, .fourth .opinion-header
{
    color: hsl(217, 19%, 35%);
}
.opinion
{
    width: 100%;
    font-size: 13px;
    margin:auto ;
    /* color: var(--var-content-primary); */
}
@media screen and (max-width:680px) {
   .main
   {
       /* grid-template-columns: 1fr; */
       display: flex;
       flex-direction: column;
       height: auto;
        width: 80%;
       /* grid-template-rows: repeat(10,fit-content); */
   }
   .main > *
   {
       /* grid-column:1/2 ; */
       /* grid-rows: ; */
   }
   /* .first{grid-row: 1/3;}
   .second{grid-row: 3/5;}
   .third{grid-row: 5/8;}
   .first{grid-row: 8/10;}
   .fifth{grid-row: 10/12;} */
}